<%- include head %>
    <div class="container">
	    <div class="reg">
	        <form method="post">
	            <br>
	            <div id="login" class="panel panel-primary">
	                <div class="panel-heading">
	                    注册
	                </div>
	                <div class="panel-body">
	                    <div class="form-group">
	                        <label>用户名:</label><input type="text" class="form-control"  placeholder="username" name="name" autocomplete="off">
	                        <br>
	                        <label>密码:</label><input type="password" class="form-control"  placeholder="password" name="password">
	                        <br>
	                        <label>确认密码:</label><input type="password" class="form-control"  placeholder="password" name="password-repeat">
	                        <br>
	                        <label>邮箱:</label><input type="email" class="form-control"  placeholder="email" name="email" autocomplete="off">
	                    </div>
	                    <input type="submit" value="注册" class="btn btn-primary pull-right">
	                </div>
	            </div>
	        </form>
	    </div>
	</div>
<%- include foot %>
