<%- include head %>
    <form enctype="multipart/form-data" method="post">
        <input type="file" name="uploadInput" />
        <input id='submitFile' type="submit" />
    </form>
<%- include foot %>
